doctype html
html
  head
    title Hello World
    link(rel="stylesheet", href="/styles/app.css")
  body(class="bg-gray-100")
    h1(class="text-4xl text-center text-blue-500") Hello World
    h1(class="text-4xl text-center text-red-500") Hello To you too
    p(class="text-center text-gray-700") This is a simple Pug example with Tailwind CSS.